.dashboard {
  padding: 20px;
  background-color: #f9fafb;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

h2 {
  text-align: center;
  color: #111827;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card {
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  flex: 1 1 200px; /* Flex-grow, flex-shrink, flex-basis */
  margin: 1rem;
  transition: transform 0.2s;

}

.card:hover {
  transform: translateY(-5px);
}

.green {
  background-color: #d0f5d8;
}
.yellow {
  background-color: #fdf0c9;
}
.pink {
  background-color: #f9d6d5;
}
.blue {
  background-color: #e0e7ff;
}

.chart-container {
  background: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  position: relative;
  height: 300px; /* Set a height for the chart */
  width: 900px;;
}

canvas {
  width: 100% !important; /* Ensure the canvas takes full width */
  height: 100% !important; /* Ensure the canvas takes full height */
}
